@import url('../../css-files/global.css');

#games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

#btn-container {
    display: flex;
    justify-content: center;
    margin: 16px;
}

a {
    margin: 0 8px;
    border-radius: 30px;
}

app-admin-item {
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.04);
    }
}
