<section>
    <div class="box">
        <p id="title">{{ game.gameName }}</p>
        <div class="image-container">
            <img src="" matTooltip="test" />
        </div>

        <div class="info-container">
            <p>Taille: {{ game.mapSize }}</p>
            <p>Mode: {{ game.gameType }}</p>
            <p>Derniere Modif: {{ 'pas encore implementee' }}</p>
        </div>

        <div class="btn-container">
            <button>Editer</button>
            <button (click)="deleteGame()">Supprimer</button>
        </div>

        <div class="vis-btn-container">
            <button (click)="invertVisibility()">Inverser</button>
            @if (game.isVisible){
            <p>Publique</p>
            } @else {
            <p>Privée</p>
            }
        </div>
    </div>
</section>
