<section>
    <div class="box">

        <div class="info-container">
            <p>Nom: {{ game.name }}</p>
            <p>Taille: {{ game.size }}</p>
            <p>Mode: {{ game.mode }}</p>
            <p>Derniere Modif: {{ lastModified }}</p>
        </div>

        <div class="btn-container">
            <button>Editer</button>
            <!-- <button (click)="deleteGame()">Supprimer</button> -->
        </div>

        <div class="vis-btn-container">
            <button (click)="invertVisibility()">Inverser</button>
            @if (game.isVisible){
            <p>Publique</p>
            } @else {
            <p>Privée</p>
            }
        </div>
    </div>
</section>