.box {
    width: 20vw;
    height: 20vw;
    border: 2px rgb(211, 211, 211) solid;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.info-container {
    width: 20vw;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.info-container p {
    font-size: smaller;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    width: 30%;
}
