<mat-card>
    <mat-card-header>
        <p id="title">{{ game.gameName }}</p>
    </mat-card-header>

    <mat-card-content id="img-container">
        <app-map [mapSize]="mapSize" [selectedTileType]="selectedTileType"></app-map>
    </mat-card-content>

    <mat-card-content id="main-container">
        <p>Taille: {{ game.mapSize }}</p>
        <p>Mode: {{ game.gameType }}</p>
        <p>creation date: {{ game.creationDate }}</p>
        <p>Derniere Modif: {{ 'pas encore implementee' }}</p>
        @if (game.isVisible){
        <p>Publique</p>
        } @else {
        <p>Privée</p>
        }
    </mat-card-content>

    <mat-card-actions class="btn-container">
        <button mat-raised-button>Editer</button>
        <button mat-raised-button color="warn" (click)="deleteGame()">Supprimer</button>
        <button mat-raised-button (click)="invertVisibility()">Inverser</button>
    </mat-card-actions>
</mat-card>
