.container {
    display: flex;
    overflow: hidden;
}
.game-map {
    width: 45%;
    height: 45%;
    margin-left: 35%;
}

.game-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tabs {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1 rem;
}
mat-grid-tile {
    background: lightblue;
}

.tools {
    height: 25%;
    width: 25%;
}

.game-btns button {
    margin-top: 1.5rem;
}

.user-list {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5rem;
    margin-bottom: 8rem;
    border: 1px solid #ccc;
}

.timer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 3rem;
    margin-right: 5rem;
}
