.container {
    display: flex;
    overflow: hidden;
}
.game-map {
    width: 45%;
    height: 45%;
    margin-left: 35%;
}

.game-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    //margin-left: 40%;
}

.tabs {
    // place this on the top right of the screen
    position: absolute;
    top: 0;
    right: 0;
    margin: 1 rem;
}
mat-grid-tile {
    background: lightblue;
}

.tools {
    height: 25%;
    width: 25%;
}

.game-btns button {
    margin-top: 1.5rem;
}
