<div class="container">
    <section class="game-map">
        <app-map [mapSize]="mapSize" [tiles]="gameMap"></app-map>

        <section class="game-btns">
            <div class="tools">
                <mat-grid-list cols="2" rowHeight="1:1">
                    <mat-grid-tile>1</mat-grid-tile>
                    <mat-grid-tile>2</mat-grid-tile>
                </mat-grid-list>
            </div>
            <button mat-raised-button color="primary">Action</button>
            <button mat-raised-button color="primary">Fin de tours</button>
            <button mat-raised-button color="warn">Abandon</button>
        </section>
    </section>

    <section class="tabs">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
            <mat-tab label="Clavardage"> [ChatComponent] </mat-tab>
            <mat-tab label="Journalisation"> [LogComponent] </mat-tab>
        </mat-tab-group>
    </section>
    <section class="user-list">
        <mat-toolbar color="primary">
            <span>Joueurs</span>
        </mat-toolbar>
        <mat-list>
            <mat-list-item>Player 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Player 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Player 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Player 4</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Player 5</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Player 6</mat-list-item>
        </mat-list>
    </section>
</div>
