.container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
}

.game-map {
    width: 45%;
    height: 45%;
    margin-left: 35%;
}

.game-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tabs {
    position: absolute;
    top: 0;
    right: 0;
}

mat-grid-tile {
    background: lightblue;
}

.tools {
    height: 25%;
    width: 25%;
}

.game-btns button {
    margin-top: 1.5rem;
}

.timer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 3rem;
    margin-right: 5rem;
}

.leaderboard {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 8rem;
}
.combat-card {
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 4rem;
    margin-bottom: 7.5rem;
}

@media (max-width: 1300px) {
    .tabs {
        position: relative;
        top: auto;
        right: auto;
    }
}

@media (max-width: 1300px) {
    .leaderboard {
        position: relative;
        bottom: auto;
        right: auto;
        margin-right: 0;
        margin-bottom: 0;
    }
}
