<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ this.playerName }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- <img class="avatar-image" [src]="'../../../assets/characters/' + selectedAvatar.slice(-1) + '.png'" /> -->
        <p>PV:</p>
        <p>Rapidité:</p>
        <p>Attaque:</p>
        <p>Dès Bonus (Attaque):</p>
        <p>Défense</p>
        <p>Dès Bonus (Défense)</p>
        <p>Points de mouvement restants:</p>
        <p>Actions restantes</p>
    </mat-card-content>
</mat-card>
