<section>
    <div class="test">
      <mat-grid-list [cols]="mapSize" >
        @for ( tile of tiles; track tile) {
          <mat-grid-tile>
            <!-- Print the right tile depending on our array -->
            @if (tile === 'wall') {
              <app-tile-wall></app-tile-wall>
            }
            @if (tile === 'door') {
              <app-tile-door></app-tile-door>
            }
            @if (tile === 'water') {
              <app-tile-water></app-tile-water>
            }
            @if (tile === 'ice') {
              <app-tile-ice></app-tile-ice>
            }
          </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  </section>
  