<section (contextmenu) = "$event.preventDefault()" (mousedown) = "$event.preventDefault()">
    <div class="app-map">
      <mat-grid-list [cols]="mapSize">
        @for ( tile of tiles; track tile.index) {
          <mat-grid-tile>
            <app-tile-basic
            tileType="{{tile.type}}"
            (contextmenu) = "$event.preventDefault()"
            (mousedown) = "onMouseDown($event, tile.index); $event.preventDefault()"
            (mouseup) = "onMouseUp()"
            (mouseenter) = "onMouseEnter(tile.index)">
            </app-tile-basic>
          </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  </section>
