<div class="background-full">
    <div class="main-container justified">
        <h1 class="header-item">
            <p>
                <img src="../../../assets/game-selection-page/sword-icon.png" style="width: 30px; height: auto" alt="Logo sword" />
                Bienvenue à {{ title }}
                <img src="../../../assets/game-selection-page/sword-icon.png" style="width: 30px; height: auto" alt="Logo sword" />
            </p>
        </h1>

        <div class="logos-line-container">
            <div class="separator"></div>
            <img
                src="../../../assets/dungeon-logo.png"
                alt="NG-BATTLE LOGO"
                class="logo-ng-battle"
            />
        </div>

        <section id="server-message" class="justified">
            <div class="justified">
                <button class="button-style" [routerLink]="['/']">Joindre une partie !</button>
                <button class="button-style" [routerLink]="['/gameSelection']">Créer une Partie !</button>
                <button class="button-style" [routerLink]="['/admin']">Administrer les jeux</button>
                <button class="button-style" [routerLink]="['/']">Voir la page démo Angular Material</button>
            </div>
        </section>

        <button class="button-style button-play" routerLink="/game">Jouer!</button>

        <footer class="footer-item">
            <h4 class="team-name">Équipe 208</h4>
            <p>
                <span>Zakari Kerouani</span>, <span>Anis Dib</span>, <span>Yanis Lourdjane</span>, <span>Rayan Ajakane</span>,
                <span>Samyar Janatian</span>, <span>Ali Gabr</span>
            </p>
        </footer>
    </div>
</div>
