@import url('../../global-files/global.css');

.background-full {
    background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.logo-ng-battle {
    height: auto;
    width: 200px;
    border-radius: 20px;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'MedievalSharp', sans-serif;
    color: white;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-style {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'MedievalSharp', sans-serif;
    color: white;
    margin: 5px;
    background-color: rgb(62, 87, 103);
}

.team-name,
.footer-item p {
    margin: 0.25em 0;
    text-align: center;
    font-family: 'MedievalSharp', sans-serif;
    color: white;
}

.header-item {
    text-align: center;
    font-family: 'MedievalSharp', sans-serif;
    color: white;
    margin: 0px;
    height: 70px;
}

#server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
    font-family: 'MedievalSharp', sans-serif;
    color: white;
}

span {
    color: white;
}

button {
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.08);
    }
}
