<body class="background-full">
    <div class="container justified">
        <h1 class="header-item">
            <p class="gray">
                <img src="../../../assets/swords.png" style="width: 30px; height: auto" alt="Logo sword" />
                Bienvenue à {{ title }}
                <img src="../../../assets/swords.png" style="width: 30px; height: auto" alt="Logo sword" />
            </p>
        </h1>

        <div class="logos-line-container">
            <div class="separator"></div>
            <img
                src="../../../assets/NG-BATTLE.jpeg"
                alt="NG-BATTLE LOGO"
                class="logo-ng-battle"
                style="width: 40%; margin-left: 30%; max-height: 10%; border-radius: 20px"
            />
        </div>

        <section id="server-message" class="justified">
            <p>Petit message du serveur : {{ message.getValue() }}</p>
            <div class="justified">
                <button class="button-style button-join" [routerLink]="['/']">Joindre une partie !</button>
                <button class="button-style button-create" [routerLink]="['/gameSelection']">Créer une Partie !</button>
                <button class="button-style button-admin" [routerLink]="['/admin']">Administrer les jeux</button>
                <button class="button-style button-demo" [routerLink]="['/']">Voir la page démo Angular Material</button>
            </div>
        </section>

        <button class="button-style button-play" routerLink="/game">Jouer!</button>

        <footer class="footer-item">
            <h4 class="team-name">Équipe 208</h4>
            <p>
                <span>Zakari Kerouani</span>, <span>Anis Dib</span>, <span>Yanis Lourdjane</span>, <span>Rayan Ajakane</span>,
                <span>Samyar Janatian</span>, <span>Ali Gabr</span>
            </p>
        </footer>
    </div>
</body>
