/* Classe pour l'image d'arrière-plan couvrant toute la page */
.background-full {
    background-image: url('../../../assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto; /* Assure que l'image couvre toute la hauteur de la page */
}

/* Le reste du CSS */
.container {
    min-height: 100vh; /* Assure que le conteneur couvre la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-style {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

.button-join {
    background-color: #007bff;
    color: white;
}

.button-create {
    background-color: #28a745;
    color: white;
}

.button-admin {
    background-color: #dc3545;
    color: white;
}

.button-demo {
    background-color: #17a2b8;
    color: white;
}

.button-play {
    background-color: #ffc107;
    color: white;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #333333;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: #333333;
}

.footer-item p :nth-child(odd) {
    color: #333333;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.gray {
    color: #333333;
}
