<h2 mat-dialog-title>Modifier le jeu</h2>
<mat-dialog-content>
    <p>Game Title</p>
    <mat-form-field>
        <mat-label> [Game Name]</mat-label>
        <input matInput [(ngModel)]="gameNameInput" />
    </mat-form-field>
    <p>Game Description</p>
    <mat-form-field>
        <mat-label> [Game Descrption]</mat-label>
        <input matInput [(ngModel)]="gameDescriptionInput" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()" color="primary">No Thanks</button>
    <button mat-button [mat-dialog-close]="onYesClick()" cdkFocusInitial color="primary">Ok</button>
</mat-dialog-actions>
