<p>{{ characterName }}</p>
<div class="chat-container">
    <div class="messages-container" #messageContainer>
        @for(message of messages; track $index) {
        <div class="message">
            <span class="message-author">{{ message.name }}</span>
            <span class="message-content">{{ message.message }}</span>
            <span class="message-date">{{ message.date }}</span>
        </div>
        }
    </div>
    <input
        (keyup.enter)="sendMessage()"
        type="text"
        [(ngModel)]="myMessage.message"
        maxlength="200"
        id="textInput"
        name="textInput"
        placeholder="Envoyez un message..."
    />
</div>
