@import url('../../css-files/global.css');

.custom-slider-main {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.custom-slider-arrow {
    display: flex;
    align-items: center;
    img {
        width: 48px;
        height: 48px;
    }
}
