<mat-card class="combat-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Combat!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ attackerDiceInfo }}</p>
        <p>{{ defenderDiceInfo }}</p>
        <p>{{ escapeChanceInfo }}</p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        @if (isActivePlayer) {
        <section class="combat-btns">
            <button mat-raised-button color="primary" (click)="attack()">
                <mat-icon>sports_kabaddi</mat-icon>
                Attaque
            </button>
            <button mat-raised-button color="primary" (click)="escape()">
                <mat-icon>directions_run</mat-icon>
                Évasion
            </button>
        </section>
        }
    </mat-card-footer>
</mat-card>
