<div class="main-container">
    <div class="player-stats-container">
        <app-player-stats [playerList]="playerList"></app-player-stats>
    </div>
    <div class="global-stats-chat-container">
        <div class="global-stats-container">
            <app-global-stats [globalStats]="globalStats" [gameMode]="gameMode"></app-global-stats>
        </div>
        <div class="chat-container">
            <app-chat [roomId]="roomId" [characterName]="characterName"></app-chat>
        </div>
    </div>
</div>
