.logs-component-container {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logs-container {
    background-color: black;
    color: #fff;
    flex: 1;
    overflow: auto; /* Make the container scrollable if there are too many logs ยง*/

    .message {
        color: #fff;

        .log-date,
        .log-content {
            color: #fff;
        }
    }
}
