<section>
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile (click)="selectTileType('wall')"> <app-tile-basic tileType = "wall"> </app-tile-basic> </mat-grid-tile>
        <mat-grid-tile (click)="selectTileType('door')"> <app-tile-basic tileType = "doorClosed"> </app-tile-basic> </mat-grid-tile>
        <mat-grid-tile (click)="selectTileType('water')"> <app-tile-basic tileType = "water"> </app-tile-basic> </mat-grid-tile>
        <mat-grid-tile (click)="selectTileType('ice')"> <app-tile-basic tileType = "ice"> </app-tile-basic> </mat-grid-tile>
    </mat-grid-list>
</section>
