/* puts game title in the middle */
.game-title-edit-page {
    text-align: center;
}

/*  puts toolbar to the middle bottom */
.edit-page-toolbar {
    width: 25%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1rem;
}

/*  puts toolbar to the right */
.edit-page-sidebar {
    width: 15%;
    margin: 4rem 2rem auto;
    position: absolute;
    right: 0;
}

/* puts map to the middle */
.edit-page-map {
    margin: auto;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 5rem;
    bottom: 10rem;
    right: 0;
    left: 0;
}

/* adjusts & puts save button to the bottom right */
.edit-page-save-game-btn {
    position: absolute;
    bottom: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
}
.edit-page-reset-game-btn {
    position: absolute;
    bottom: 5rem;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
}

/* makes sure page cannot be scrolled */
.edit-page-div {
    background-image: url('./../../../assets/edit-view-background.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
