<div class="edit-page-div">
    <h1 class="game-title-edit-page">
        {{ gameTitle }}
        <button mat-mini-fab color="primary" class="edit-game-name-btn" (click)="openDialog()">
            <mat-icon>edit</mat-icon>
        </button>
    </h1>

    <div class="edit-page-map">
        <app-map [mapSize]="15" [selectedTileType]="selectedTileType"></app-map>
    </div>
    <app-sidebar class="edit-page-sidebar"></app-sidebar>
    <app-toolbar class="edit-page-toolbar" (selectTileTypeEvent)="tempLog($event)"></app-toolbar>
    <button mat-raised-button color="primary" class="edit-page-save-game-btn">Save Game</button>
    <button mat-raised-button color="primary" class="edit-page-reset-game-btn" (click)="resetGame()">Reset Game</button>
</div>
