<body>
    <div>
    <h1 class="medievalsharp-regular">Créez votre personnage</h1>
    <div class="input-container">
        <input type="text" class="custom-input" placeholder="Entrez votre nom...">
    </div>
    
    <div class="character-selection-container">
        <div class="custom-slider-arrow mt-sm">
            <img class="arrowImg" src="../../../assets/game-selection-page/left-arrow.png" alt="Left" (click)="scrollLeft()" />
        </div>
        
        <div class="character-list-wrapper">
            <section id="character-list" #widgetsContent>
                <div *ngFor="let avatar of avatars" class="character-avatar" >
                    <img [src]="avatar.img" [alt]="avatar.name" [class.selected]="selectedAvatar === avatar" (click)="selectAvatar(avatar)">
                </div>
            </section>
        </div>
        
        <div class="custom-slider-arrow mt-sm">
            <img class="arrowImg" src="../../../assets/game-selection-page/right-arrow.png" alt="Right" (click)="scrollRight()" />
        </div>
    </div>
    
    <h4 class="medievalsharp-regular">Attributs du personnage</h4>
    <form>
    <div class="attributes-container">
      <div class="attribute">
        <img class="attribute-image" src="../../../assets/game-selection-page/heart8bit.png">
        <label for="life">{{ life }} pts </label>
        <input type="radio" name="lifeSpeed" (click)="addBonus('life')" checked>
      </div>
    
      <div class="attribute">
        <img class="attribute-image" src="../../../assets/game-selection-page/thunder-icon.png">
        <label for="speed">{{ speed }} pts</label>
        <input type="radio" name="lifeSpeed" (click)="addBonus('speed')">
      </div>
    
      <div class="attribute">
        <img class="attribute-image" src="../../../assets/game-selection-page/sword-icon.png">
        <label for="attack">{{ attack }} pts + D{{ selectedDice.attack }}</label>
      </div>
    
      <div class="attribute">
        <img class="attribute-image" src="../../../assets/game-selection-page/shield-icon.png">
        <label for="defense">{{ defense }} pts + D{{ selectedDice.defense }}</label>
      </div>

      <select (change)="assignDice($event)">
        <option value="4">D4</option>
        <option value="6">D6</option>
      </select>
    </div>
    </form>
</div>
</body>

