<div class="main-container">
    <h1 class="medievalsharp-regular">Créez votre personnage</h1>

    <form (submit)="onSubmit($event)">
        <div class="input-name-container">
            <input
                type="text"
                class="name-input"
                placeholder="Entrez votre nom..."
                minLength="3"
                maxlength="15"
                pattern="^([a-zA-Z]{3,15})( [a-zA-Z]{3,15})*$"
                id="character-name"
                required
                [(ngModel)]="characterName"
                name="characterName"
            />
        </div>

        <app-avatar-slider (selectedAvatarEmitter)="receiveSelectedAvatar($event)"></app-avatar-slider>

        <h4 class="medievalsharp-regular">Attributs du personnage</h4>

        <app-attribute-selection></app-attribute-selection>

        <button type="submit" id="submit-btn">Créer le personnage</button>
    </form>
</div>
