<body>
    <div class="main-container">
        <h1 class="medievalsharp-regular">Créez votre personnage</h1>
        <div class="input-container">
            <input type="text" class="custom-input" placeholder="Entrez votre nom..." id="character-name">
        </div>
        
        <div class="character-selection-container">
            <div class="custom-slider-arrow mt-sm">
                <img class="arrowImg" src="../../../assets/game-selection-page/left-arrow.png" alt="Left" (click)="scrollLeft()" />
            </div>
            
            <div class="character-list-wrapper">
                <section id="character-list" #widgetsContent>
                    <div *ngFor="let avatar of avatars" class="character-avatar">
                        <img class="avatar" [src]="avatar.img" [alt]="avatar.name" [class.selected]="selectedAvatar === avatar" (click)="selectAvatar(avatar)">
                    </div>
                </section>
            </div>
            
            <div class="custom-slider-arrow mt-sm">
                <img class="arrowImg" src="../../../assets/game-selection-page/right-arrow.png" alt="Right" (click)="scrollRight()" />
            </div>
        </div>
        
        <h4 class="medievalsharp-regular">Attributs du personnage</h4>
        <div>
            *Rajoutez +2 points à attaque ou vie (un seul des deux choix est permis)
        </div>
        <form>
            <div class="attributes-container">
                <div class="attribute">
                    <img class="attribute-image" src="../../../assets/game-selection-page/heart8bit.png">
                    <label for="life-attribute">{{ life }} pts</label>
                    <p><input type="radio" name="lifeSpeed" id="life-attribute" (click)="addBonus('life')" checked> +2 pts</p>
                </div>
            
                <div class="attribute">
                    <img class="attribute-image" src="../../../assets/game-selection-page/thunder-icon.png">
                    <label for="speed-attribute">{{ speed }} pts</label>
                    <p><input type="radio" name="lifeSpeed" id="speed-attribute" (click)="addBonus('speed')"> +2 pts</p>
                </div>
            
                <div class="attribute">
                    <img class="attribute-image" src="../../../assets/game-selection-page/sword-icon.png">
                    <p>{{ attack }} pts</p>
                    <p> Dé à {{ selectedDice.attack }} faces</p>
                </div>
            
                <div class="attribute">
                    <img class="attribute-image" src="../../../assets/game-selection-page/shield-icon.png">
                    <p>{{ defense }} pts</p>
                    <p> Dé à {{ selectedDice.defense }} faces</p>
                </div>
            </div>
        </form>

        <div>
            Attribuer le dé à 6 faces à:
        </div>
        <div>
            <input class="medievalsharp-regular" type="radio" name="attack-defense" value="attack" id="attack-dice" (change)="assignDice($event)" checked> Attaque
            <input class="medievalsharp-regular" type="radio" name="attack-defense" value="defense" id="defense-dice" (change)="assignDice($event)"> Défense
        </div>
    </div>
</body>
