@import url('../../global-files/global.css');



.main-container {
  background-image: url('../../../assets/game-selection-page/dungeon-background-selection-game-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;

  text-align: center;

  font-family: 'MedievalSharp', sans-serif;
}

.attribute-image {
  height: 50px;
  width:auto;
  display: block;
}

.avatar {
  height: 150px;
  width:auto;
}

.avatar:hover {
  transform: scale(1.08);

}

.selected {
  transform: scale(1.08);
  border: 2px solid whitesmoke;
}

.medievalsharp-regular{
  text-align: center;
}

h4 {
  color: white;
}

div {
  color:white;
}

.input-container{
  width: 100%;
  text-align: center;
}

.custom-input {
  color: white;
  font-size: 16px;
  font-family: 'MedievalSharp', sans-serif;
  
  background-color: #2d2d2d;
  border: 2px solid #719eb8;
  border-radius: 25px;
  
  padding: 10px 15px;
  margin: 10px 0;

  width: 100%;
  max-width: 200px;
  height: 20px;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  transition: all 0.3s ease;
}

.custom-input:hover {
  background-color: #1a1a1a;
  border-color: #284456;
}

.custom-input::placeholder {
  color: #7f8c8d;
  font-style: italic;
}

.character-selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.character-list-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 90%;
}

#character-list {
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  padding: 10px;
}

#character-list::-webkit-scrollbar {
  display: none;
}

.custom-slider-arrow {
  cursor: pointer;
  width: 4%;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-slider-arrow:hover{
    transform: scale(1.08);
}

img{
  width: 100%;
  height: 100%;
}

.attributes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;   
  margin-bottom: 50px;   
  margin-top: 50px;
}

.attribute {
  text-align: center;
}
.dice-container {
  margin-bottom: 20px;
}

.dice-container::placeholder {
  font-family: 'MedievalSharp', sans-serif;
}

  